.bg{
   background-color: #FEEAE9;
}

.top-img{
   margin-bottom: 100px;
}
.half-slid{
   margin: 10px;
   padding: 40px;
}
span{
   color: red;
}
.blog{
   margin-top: 50px;
   margin-bottom: 30px;
}
